body{
    background-color: white;
    font-family: 'Assistant', sans-serif;
    color: #071c4d;
}

//navbar
.navbar-brand{
    img {
        max-height: 40px;
    }
}
.navbar-light{
    .navbar-nav{
        .nav-link{
            color: #071c4d;

            &.active{
                font-weight: bold;
                color: #071c4d !important;
            }
        }
    }
}
.btn-navbar-right{
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;
    height: 70px;
    border-radius: 0;
}
.btn-login{
    background-color: #071c4d;
    color: white;

    &:hover{
    background-color: #1e3771;
    color: white;
    }
}

//header
header{
    padding: 180px 0 165px;
    margin-top: -70px ;
    background-image: url('../images/header\ 1.jpg');
    background-size: cover;
    h1,p{
        color: white;
    }
    h1{
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
    }
    p{
        font-size: 22px;
    }
    .btn-get-started{
        background-color: #2ce780;
        color: white;

        &:hover{
            background-color: #11eb73;
            color: white;
        }
    }
}

//statistic
.section-stats{
    margin-top: -50px;
    .stats-detail{
        padding-top: 15px;
        background-color: white;
        padding-left: 40px;
    }
    
    h2{
        font-size: 30px;
        margin-bottom: 0;
    }

    p{
        font-size: 20px;
        font-weight: lighter;
    }
}

//popular
.section-popular{
    min-height: 540px;
    background-color: #051334;
    margin-top: -50px;
    margin-bottom: -250px;

    .section-popular-heading{
        margin-top: 150px;

        h2,p{
            color: whitesmoke;
        }
        
        h2{
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;
        }
        
        p{
            font-size: 18px;
        }
    }
}

.section-popular-content{
    .section-popular-travel{
        .card-travel{
            min-height: 380px;
            background-color: #803737;
            color: white;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;

        }

        .travel-country{
            font-size: 18px;
            color: #42391a;
        }

        .travel-location{
            font-size: 26px;
            color: rgb(255, 255, 255);
        }

        .travel-button{
            .btn-travel-details{
                background-color: #2ce780;
                color: white;

                &:hover{
                    background-color: #11eb73;
                color: white;
                }
            }
        }
    }
}

.section-networks{
    background-color: white;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 50px;

    h2{
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }
    p{
        font-size: 18px;
    }

    img{
        max-width: 100%;
    }
}
.section-testimonial-heading{
    background: linear-gradient(white 0%,
    #f7f9ff 100%);
    padding-top: 50px;
    min-height: 506px;

    h2{
        font-family: "Playfair Display",serif;
        font-weight: bold;
        font-size: 40px;
        text-align: center;
        color: #071c4d;
    }

    p{
    font-size: 18px;
    }
}

.section-testimonial-content{
    margin-top: -300px;
    padding-bottom: 50px;

    .card-testimonial{
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;

        .testimonial-content{
        min-height: 380px;    
        }

        h3{
            font-size: 22px;
        }

        .testimonial{
            font-weight: 200;
            font-size: 26px;
            color: #051334;
            min-height: 160px;
        }
        
        .trip-to{
            font-weight: normal;
            font-size: 22px;
            color: #051334;
        }

        hr{
         margin-left: -20px;
         margin-right: -20px;   
        }
    }

    .btn-get-started{
        background-color: #2ce780;
        color: white;

        &:hover{
            background-color: #11eb73;
            color: white;
        }
    }

    .btn-need-help{
        background-color: #add41d;
        color: white;

        &:hover{
            background-color: #c6f717;
            color: white;
        }
    }
}

.section-footer{
    a{
        color: #252591;
    }
}

.section-details-header{
    min-height: 310px;
    background: #e4e6eb;
    margin-top: -70px;

}

.section-details-content{
    margin-top: -210px;
    min-height: 100vh;
    .breadcrumb{
        background-color: transparent;
        padding: 0;
        margin-bottom: 30px;

    }

    .breadcrumb-item{
        &.active{
            font-weight: bold;
            color: #071c4d;
        }
    }
    .card-details{
        padding: 30px;
        border-radius: 11px;

        h1{
            font-size: 26px;
        }

        h2{
            font-size: 18px;
        }

        p{
            font-size: 18px;
            color: #b1b1b1;
        }
        .trip-information{
            th{
                font-weight: 300;
                font-size: 18px;
                color: #071c4d;
            }

            td{
                font-weight: 300;
                font-size: 18px;
                color: #b1b1b1;
            }

            .text-blue{
                color: #071c4d;
                font-weight: bold;
            }

            .text-orange{
                color: orange;
                font-weight: bold;
            }
        }

        .payment-instruction{
            font-weight: 300;
            font-size: 14px;
            color: #000000;
        }

        .bank{
            .bank-item{
                h3{
                    font-size: 20px;
                    color: #1c6db8;
                    margin-bottom: 0;
                }

                p{
                    margin-bottom: 0;
                }

                .description{
                    margin-left: 10px;
                    overflow: hidden;
                    float: left;

                    p{
                        font-weight: normal;
                        font-size: 16px;
                        color: #1c6db8;
                    }

                }
            }

            .bank-image{
                width: 45px;
                height: 30px;
                float: left;

            }
        }

        h3{
            
            font-weight: 400;
            font-size: 14px;
            
            color: #071c4d;
        }
        .disclaimer{
            font-weight: 300;
            font-size: 14px;
            color: #b1b1b1;
        }

        .gj-datepicker{
            .datepicker{
                border-right: 0;

            }

            .input-group-apend{
                .btn{
                    padding-right: 30px;
                }
            }
        }

        .btn-add-now{
            background-color: #31be38;
            color: white;

            &:hover{
            background-color: #08fa14;
            color: white;
        }
        }

        
    }

    .card-right{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
    }

    .features{
        margin-top: 20px;

        h3{
            font-size: 18px;
            color: #071c4d;
            margin-bottom: 0;
        }

        p{
            margin-bottom: 0;
        }

        .description{
            margin-left: 15px;
            overflow: hidden;
            float: left;
        }

        .features-image{
            width: 45px;
            height: 45px;
            float: left;
        }
    }

    .gallery{
        .xzoom-container{
            display: block;

            .xzoom{
            width: 100%;
            box-shadow: none;
            margin-bottom: 10px;
            }
            
            .xactive{
                border: 4px solid #1abc9c;
                box-shadow: none;

            }
        }

        
    }

    .member{
        .member-image{
            width: 40px;
            height: 40px;
        }
    }

    .join-container{
        margin-top: 16px;

    }

    .btn-join-now{
        background-color: #21c76b;
        color: white;
        border-radius: 0;

        &:hover{
            background-color: #11eb73;
        color: white;
        }
    }
}

.section-success{
    margin-top: 100px;
    


    h1{
        font-weight: 600;
        font-size: 26px;
        color: #071c4d;
    }
    
    p{
        font-weight: 300;
        font-size: 18px;
        color: grey;

    }

    .btn-home-page{
        border-radius: 4px;
        background-color: #21c76b;
        color: whitesmoke;

        &:hover{
            background-color: #11eb73;
        color: white;
    }

    }

}